body, h1, h2, h3, p {
  margin: 0; }

html, body, #app, #app > div {
  height: 100%; }

a {
  text-decoration: none; }

.general-button {
  width: 150px;
  height: 50px;
  font: 22px 'Raleway';
  background: #4b7ed1;
  color: white;
  border: none; }
  .general-button:hover {
    background: #749de0;
    cursor: pointer;
    color: gray; }

.top-banner {
  display: flex;
  font: 22px 'Crimson Text';
  background: white;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 60px;
  z-index: 100;
  position: fixed; }
  .top-banner .navbar {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    list-style-type: none;
    margin-right: 15px; }
    .top-banner .navbar li {
      margin: 5px;
      padding-right: 5px;
      border-right: 1px solid; }
      .top-banner .navbar li a {
        text-decoration: none; }
        .top-banner .navbar li a:visited {
          color: black; }
        .top-banner .navbar li a:hover {
          color: lightblue; }
      .top-banner .navbar li:last-child {
        border: none; }

/*
 About Page
 */
.about-page {
  height: 100%; }
  .about-page .first-row {
    color: white;
    font: 40px 'Spectral';
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url("photos/bg/livingroom.jpg");
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .about-page .first-row p {
      font-size: 20px; }
  .about-page .second-row {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3f1f20; }
    .about-page .second-row .placard {
      display: flex;
      justify-content: center;
      align-items: center;
      font: 60px 'Spectral';
      margin: 15px;
      height: 300px;
      width: 400px;
      border-radius: 15px; }
    .about-page .second-row .homes-placard {
      background-image: url("photos/bg/door.jpg");
      background-size: cover;
      background-position: center;
      color: white; }
    .about-page .second-row .areas-placard {
      background-image: url("photos/bg/city.jpg");
      background-size: cover;
      background-position: center;
      color: white; }
    .about-page .second-row .gallery-placard {
      background-image: url("photos/bg/gallery.jpg");
      background-size: cover;
      background-position: center;
      color: white; }
  .about-page .third-row {
    width: 100%;
    height: 75vh;
    font: 24px 'Arapey';
    background: #dee4ed;
    background-image: url("photos/bg/pencil.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

/*
 Home Page
 */
.home-page {
  padding-top: 80px; }

/*
 Areas Page
 */
.areas-page {
  padding-top: 80px; }

/*
 Find Us Page
*/
.findus-page {
  padding-top: 80px; }

/*
 Gallery Page
 */
.gallery-page {
  padding-top: 80px; }

/*
 Home Detail Page
 */
.homedetail-page {
  padding-top: 80px;
  font-family: 'Arapey'; }

.homedetail-address {
  text-align: center;
  font: 30px 'Spectral'; }

.homedetail-info {
  display: flex;
  flex-direction: column; }

.homedetail-carousel {
  margin: 0 40px 0 10px;
  text-align: center; }

/*
 New Home Page
 */
.newhome-page {
  padding-top: 80px;
  font: 20px 'Arapey'; }
  .newhome-page h3 {
    margin: 5px 15px; }

.newhome-form {
  display: flex;
  flex-direction: column; }
  .newhome-form * {
    padding: 5px;
    margin: 5px 15px;
    border-radius: 5px; }
  .newhome-form .single-line-form {
    margin: 0;
    padding: 0; }
  .newhome-form label {
    margin: 0;
    padding: 0; }

/*# sourceMappingURL=styles.css.map */
