body, h1, h2, h3, p {
  margin: 0;
}

a {
  text-decoration: none;
}

.general-button {
  width: 150px;
  height: 50px;
  font: 22px 'Raleway';
  background: #4b7ed1;
  color: white;
  border: none;

  &:hover {
    background: #749de0;
    cursor: pointer;
    color: gray;
  }
}

.top-banner {
  display: flex;
  font: 22px 'Crimson Text';
  background: rgba(255, 255, 255, 0);
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 60px;
  z-index: 100;
  position: fixed;
  transition: all 0.6s ease-out;

  .navbar {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    list-style-type: none;
    margin-right: 15px;

    li {
      margin: 5px;
      padding-right: 5px;
      border-right: 1px solid;

      a {
        text-decoration: none;

        &:visited {
          color: black;
        }

        &:hover {
          color: lightblue;
        }
      }

      &:last-child {
        border: none;
      }
    }
  }
}

.top-banner.scrolled {
  background: white;
  border-bottom: 1px solid gray;
}

.top-banner.about-nav {
  color: white;

  .navbar {
    li {
      a {
        &:visited {
          color: white;
        }
      }
    }
  }
}

.top-banner.about-nav.scrolled {
  color: black;

  .navbar {
    li {
      a {
        &:visited {
          color: black;
        }
      }
    }
  }
}

/*
 About Page
 */
.about-page {
  height: 100%;

  .first-row {
    color: white;
    font: 40px 'Spectral';
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url('photos/bg/livingroom.jpg');
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      font-size: 20px;
    }
  }

  .second-row {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3f1f20;

    .placard {
      display: flex;
      justify-content: center;
      align-items: center;
      font: 60px 'Spectral';
      margin: 15px;
      height: 300px;
      width: 400px;
      border-radius: 15px;
      transition: all 0.6s ease-out;

      &:hover {
        box-shadow: 1px 1px 5px darkred;
      }
    }

    .homes-placard {
      background-image: url('photos/bg/door.jpg');
      background-size: cover;
      background-position: center;
      color: white;
    }

    .areas-placard {
      background-image: url('photos/bg/city.jpg');
      background-size: cover;
      background-position: center;
      color: white;
    }

    .findus-placard {
      background-image: url('photos/bg/gallery.jpg');
      background-size: cover;
      background-position: center;
      color: white;
    }
  }

  .third-row {
    width: 100%;
    height: 75vh;
    font: 24px 'Arapey';
    background: #dee4ed;
    background-image: url('photos/bg/pencil.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/*
 Home Page
 */
.home-page {
  padding-top: 80px;
  font-family: 'Spectral';
  background-image: url('photos/bg/indoors.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  .home-page-title {
    font-size: 60px;
    text-align: center;
  }

  .home-page-homecards {
    margin: 0 10px;
  }

  h2 {
    margin-left: 15px;
  }
}

.homecard {
  border-bottom: 1px solid gray;
  margin: 5px 5px 10px 5px;
  transition: all 0.6s ease-out;

  .homecard-info {
    font-size: 20px;
    div {
      display: flex;
      margin-right: 5px;

      i {
        margin-right: 5px;
      }
    }

    span {
      margin-right: 10px;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &:last-child {
    border: none;
  }
}

.home-page-filter {
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;
}

.individual-filter {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

/*
 Areas Page
 */
.areas-page {
  padding-top: 80px;
  font-family: 'Arapey';
  text-align: center;
}

.area-page-area-cards {
  display: flex;
  flex-wrap: wrap;
}

.area-card {
  display: flex;
  flex-grow: 1;
  width: 40%;
  height: 350px;
  background-size: cover;
  background-position: center;
  margin: 5px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  color: white;
  font: 60px 'Spectral';
  text-shadow: 2px 2px black;
  transition: all 0.6s ease-out;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 5px green;
  }
}

/*
 Find Us Page
*/
.findus-page {
  height: 100vh;
  font: 20px 'Arapey';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('photos/bg/phone.jpg');
  background-size: cover;
  background-position: center;

  p {
    a {
      &:visited {
        color: green;
      }
    }
  }
}

/*
 Home Detail Page
 */
.homedetail-page {
  padding-top: 80px;
  font-family: 'Arapey';

  h2 {
    font: 34px 'Crimson Text';
  }
}

.homedetail-address {
  text-align: center;
  font: 26px 'Spectral';
}

.homedetail-info {
  display: flex;
  flex-direction: column;
}

.homedetail-details {
  display: flex;

  .homedetail-details-left {
    padding: 5px 15px;
  }

  .homedetail-details-right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.homedetail-gallery {
  text-align: center;
  padding: 10px;
}

.book-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 20px 'Spectral';
  width: 300px;
  height: 50px;
  margin-top: 20px;
  border-radius: 5px;
  background: #ff5a5f;
  color: white;

  &:hover {
    background: #ff7e82;
  }
}

/*
 Area Details Page
 */
.areadetail-page {
  padding-top: 80px;
  font-family: 'Arapey';
  display: flex;
}

.areadetail-page-title {
  display: flex;
  align-items: center;

  h1 {
    font-size: 50px;
  }

  button {
    margin-left: 15px;
    width: 75px;
    height: 20px;
    background: lightgreen;
    border: none;
    border-radius: 15px;

    &:hover {
      color: white;
      background: darkgreen;
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }
}

.areadetail-first-col {
  width: 40%;
  position: fixed;
  height: 100%;
  background-size: cover;
}

.areadetail-second-col {
  margin: 0 15px 0px 10px;
  margin-left: 41%;
}

.areadetailpage-homecards {
  margin-top: 20px;
}

/*
 New Home Page
 */
.newhome-page {
  padding-top: 80px;
  font: 20px 'Arapey';

  h3 {
    margin: 5px 15px;
  }
}

.newhome-form {
  display: flex;
  flex-direction: column;
  
  * {
    padding: 5px;
    margin: 5px 15px;
    border-radius: 5px;
  }

  .single-line-form {
    margin: 0;
    padding: 0;
  }

  label {
    margin: 0;
    padding: 0;
  }
}